*{
    margin: 0;
    padding: 0;
}
#alert{
    margin-top: 2%;
}
body{
    height: 80vh;
    /* border-style: solid; */
    margin-top: 5%;
}
#container{
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    /* border-style: solid; */
    display: flex;
    margin-bottom: 2%;
}
#loginC{
    border-style: solid;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(119, 119, 209);
    display: flex;
    /* display: none; */
    justify-content: center;
    padding-top: 20%;
    box-sizing: border-box;
    border-radius: 50px;
}
#Username{
    height:min-content;
    margin-left: 3%;
    border-radius: 5px;
    border-style: none;
    height: 8%;
    padding: 5px;
}
#Username:focus{
    outline: none;
}
#register{
    border-style: none;
    color: rgb(0, 0, 3);
    height: min-content;
    background-color: transparent;
    margin-top: 5%;
}
#register:hover{
    cursor:pointer;
    color: rgb(208, 137, 6);
}
#loginContainer{
    text-align: center;
    padding-top: 5%;
}
#Submit{
   margin-top: 5%;
   padding: 6px;
   border-radius: 5px;
   border-style: none;
}
#Submit:hover{
    cursor: pointer;
}
canvas{
    border-style: solid;
    /* border-style: dashed; */
    /* border-style: none; */
    border-radius:50px;
    display: none;
    position: absolute;
    background-color:rgb(119, 119, 209);
}
#inside{
    position: absolute;
    top:75% ;
    margin-left: 2%;
    display: none;
    /* border-style: solid; */
    text-align: center;
}
#input{
    width: 20%;
    outline: none;
}
.word{
    display: inline-block;
}
#next{
    /* display: none; */
    padding: 4px;
    border-radius: 5px;
    border-style: none;
    margin-top: 2%;
}
#next:hover{
    cursor: pointer;
}
#wordlabel{
    display: inline;
}
.both{
    margin-bottom: 4%;
}
#alreadyused{
    display: inline-block;
}
#usedwords{
    display: none;
}
.both1{
    margin-top: 2%;
}
#wonorlost{
    border-style: solid;
    position: absolute;
    display: none;
    text-align: center;
    background-color:rgb(119, 119, 209) ;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    flex-direction: column;
    justify-content: center;
}
#nextround{
    border-style: none;
    border-radius: 5px;
    padding: 4px;
    max-width: max-content;
    margin-left: 42%;
    margin-top: 3%;
}
#nextround:hover{
    cursor: pointer;
}